html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: Barlow;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    border: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container {
    max-width: 1321px;
    margin: 0 auto;
    padding-inline: 20px;
}